@font-face {
  font-family: 'jockey';
  src: url('./JockeyOne.ttf') format('truetype');
}
@font-face {
  font-family: 'archivo';
  src: url('./archivo.ttf') format('truetype');
}
p,h1,h2,span {
  font-family: 'archivo', sans-serif;
}