@keyframes colorSpread {
  0% {
    background-image: url("./spread/4.png");
    background-size: cover;
    width: 280px;
    height: 273px;
    background-repeat: no-repeat;
  }
  30% {
    background-image: url("./spread/3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 293px;
  }
  50% {
    background-image: url("./spread/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 320px;
    height: 313px;
    
  }
  100% {
    background-image: url("./spread/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 340px;
    height: 333px;
  }
}
.bg-color-animation {
  animation: colorSpread 1s linear forwards infinite;
}

.fade-toast {
  opacity: 0; /* Start with toast hidden */
}

.fade-toast[data-state='visible'] {
  opacity: 1; /* Fade in */
}

.fade-toast[data-state='hidden'] {
  opacity: 0; /* Fade out */
}