.modal {
  display: flex;
  justify-content: end;
  align-items: end;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #26233A;
}

.modal-content {
  background-color: radial-gradient(38.4% 38.4% at 51.16% 53.22%, #8149db 0%, #51229D 100%);
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  border: 1px solid #B9A6D8;
  width: 100%;
  height: fit-content;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}